<div id="search-bar">
  <mat-form-field class="example-form-field">
    <mat-label>Search by date</mat-label>
    <input matInput type="text" placeholder="dd/MM/yyyy" [(ngModel)]="value">
  </mat-form-field>

  <button (click)="search()" mat-icon-button >
    <mat-icon>search</mat-icon>
  </button>

  <button (click)="reset()" mat-icon-button >
    <mat-icon>refresh</mat-icon>
  </button>
</div>

<mat-card>


  <mat-list *ngFor="let result of results">
    <div mat-subheader>{{result.playedDate.month + "/" + result.playedDate.day + "/" + result.playedDate.year | date:"dd/MM/yyyy"}}</div>

    <mat-grid-list cols="3" rowHeight="10:1">
      <mat-grid-tile>{{result.team1}}</mat-grid-tile>
      <mat-grid-tile rowspan="2" id="vs">VS</mat-grid-tile>
      <mat-grid-tile>{{result.team2}}</mat-grid-tile>
      <mat-grid-tile>{{result.score1}}</mat-grid-tile>
      <mat-grid-tile>{{result.score2}}</mat-grid-tile>
    </mat-grid-list>

    <mat-divider></mat-divider>
  </mat-list>

</mat-card>

