#btn-generate-wrapper{
  display: flex;
  justify-content: center;
}

#btn-generate{
  margin: 25px;
  width: 150px;
  height: 80px;
  font-size: 25px;
}

img{
  width: 100px;
}

mat-grid-tile{
  font-size: 25px;
  font-weight: bold;
}
