
<mat-drawer-container class="example-container" hasBackdrop="true" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">

    <mat-card class="example-card">
      <mat-card-content>
        <img class="nav-bar-image" mat-card-image src="assets/nav-bar-image.png">
        <mat-card-header>
          <mat-card-title>Premier League Manager</mat-card-title>
          <mat-card-subtitle>Sashin Sahasra</mat-card-subtitle>
        </mat-card-header>
      </mat-card-content>
    </mat-card>

    <mat-selection-list [multiple]="false">
      <a routerLink="./home">
        <mat-list-option (click)="drawer.toggle()">Home</mat-list-option>
      </a>

      <a routerLink="./generate_random_match">
        <mat-list-option (click)="drawer.toggle()">Generate Match</mat-list-option>
      </a>

      <a routerLink="/played_matches">
        <mat-list-option (click)="drawer.toggle()">Played Matches</mat-list-option>
      </a>
    </mat-selection-list>

  </mat-drawer>

  <div class="example-sidenav-content">

    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon " (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Football Premiere League</span>
    </mat-toolbar>

  </div>

  <router-outlet></router-outlet>

</mat-drawer-container>


